/*** acf ***/
/* hide labels */
/*.label-hide .acf-fields {
	border: 0 !important;
}
.label-hide .acf-fields .acf-field {
	padding: 0;
}
.label-hide .acf-fields .acf-field .acf-label label {
	display: none;
}*/
/* options page tabs */
.toplevel_page_style .acf-tab-group {
	padding-left: 0 !important;
}
/* color picker */
.site-colors-field input[type=radio] {
    box-shadow: none;
}
/*
.site-colors-field .acf-label {
	display: none !important;
}
*/
.site-colors-field input[type=radio]:checked {
	border: 2px solid var(--wp--preset--color--luminous-vivid-orange);
}
.site-colors-field input[type=radio]:checked::before {
	background: transparent;
}
.site-colors-field label {
	padding: 10px;
}
.site-colors-field label.selected {
	background: #f2f2f2;
    border-radius: 5px;
}
.site-colors-field .acf-radio-list {
	outline: none!important;
    border: none!important;
    box-shadow: none!important;
}
.site-colors-field li:nth-child(1) label input {
	background: var(--text);
}
.site-colors-field li:nth-child(2) label input {
	background: var(--primary);
}
.site-colors-field li:nth-child(3) label input {
	background: var(--secondary);
}
.site-colors-field li:nth-child(4) label input {
	background: var(--accent);
}
.site-colors-field li:nth-child(5) label input {
	background: var(--text);
}
.site-colors-field li:nth-child(6) label input {
	background: var(--light);
}
.site-colors-field li:nth-child(7) label input {
	background: var(--info);
}
.site-colors-field li:nth-child(8) label input {
	background: var(--white);
}
.site-colors-field input[type=radio] {
	width: 1.5rem;
	height: 1.5rem;
	min-width: 1.5rem;
}
.customize-control-ogf-upsell {
	display: none !important;
}
.editor-styles-wrapper a {
	text-decoration: none !important;
}
.editor-styles-wrapper pre {
    margin-bottom: 0 !important;
}
.editor-styles-wrapper ol, .editor-styles-wrapper ul {
	padding-left: 0 !important;
}
.block-editor-block-list__block:last-child {
	margin-bottom: 40px;
}
.block-list-appender {
	margin-top: 15px;
}
.wp-block[data-type="core/widget-area"],
.blocks-widgets-container .wp-block-widget-area__inner-blocks.editor-styles-wrapper {
	max-width: 100% !important;
}
/* accordions */
.acf-fields.-sidebar > .acf-field-tab + .acf-field {
	margin-top: 1px;
}
/* block z-index */
.block-editor-block-list__block {
	overflow: hidden;
}
/* modal editor */
.acfe-modal-wrapper {
	margin-right: 9px;
	max-width: calc(100vw - 317px) !important;
}