// Use this file to overwrite the basic Bootstrap variables and add your own variables
// To overwrite a Bootstrap variable you don´t have to touch the Bootstrap folder.
// Just copy a variable from src/sass/assets/bootstrap5/_variables.scss, paste it here and edit the value.

// colors
$primary:       #00bbdd;
$secondary:     #0a4976;
$success:       #febe10;
$info:          #cbf7ff;
$light:         #f3f3f3;
$dark:          #00233b;
$gray:          $light;

// breakpoints
$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1468px,
);

// spacer
$spacer: 3rem;
$spacers: (
  0: 0,
  1: $spacer * .25,
  2: $spacer * .5,
  3: $spacer,
  4: $spacer * 1.5,
  5: $spacer * 3,
);

// negative margin
$enable-negative-margins: true;

$input-btn-padding-x:   1rem !default;
$input-btn-padding-y:   .35rem !default;
$btn-padding-x:         $input-btn-padding-x;
$btn-padding-y:         $input-btn-padding-y;